@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/Regular.ttf')
}

.Nav {
    font-family: 'Roboto Condensed', BoldItalic, serif;
    margin: 0;
    width: 100%;
    padding-bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(250, 119, 119, 0.89);
    background-color: #343a40;
    margin-bottom: 30px;
}

.Nav ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;

}

.Nav li {
    display: inline-block;
    text-align: left;
    margin-right: 60px;
}

.Nav a {
    text-decoration: none;
    color: #fff;
}

.Nav a:hover {
    color: #a9a9a9;
}

.link {

}

.Header {
    text-decoration: none;
    text-align: left;
}

.Auth {

}

.Nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 30px;
}

.Content {
    text-align: left;
    max-width: 65%;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(81, 96, 109, 0.2);
    border: 1px solid #dfdfdf;
    margin-bottom: 30px;
}

.Content p {
    font-size: 1.25em;
}


.TitleName {
    margin: 0;
    font-size: 3em;

}

.PreviewImg {
    width: 250px;
    height: 350px;
    padding-right: 20px;
}

.TitleCard {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #9b9ba4;
}

.TitleDescription {


}

.Player {
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #9b9ba4;
}

@media (max-width: 960px) {
    .App {
        min-width: 100vh;
    }

    .Nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        background-color: #343a40;
        color: #fff;
        text-align: left;
        transition: transform 300ms linear;
        box-shadow: 8px 3px 7px -1px rgba(84,84,84,0.59);
        -webkit-box-shadow: 8px 3px 7px -1px rgba(84,84,84,0.59);
        -moz-box-shadow: 8px 3px 7px -1px rgba(84,84,84,0.59);
        border-bottom: none;
    }

    .Content {
        text-align: center;
        max-width: 100%;
        margin-bottom: 0;
        margin-left: 200px;
        padding: 20px;
        min-width: 100%;
        min-height: 100% !important;
    }

    .Content h1 {
        font-size: 2.5em;
    }

    .Content p {
        margin: 0;
        text-align: left;
    }

    .Player ReactPlayer {
        width: 50%;
    }
}